{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add category{% endblock %}

{% block body_block %}
		{% if user.is_authenticated %}
				<h1>Add category</h1>
			<form id="category_form" method="post" action="/rango/add_category/">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}	
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
					
				<input type="submit" name="submit" value="Create Category" />	
			</form>
		{% else %}
			<h2>You have no access. Please Login.</h2>
			<a href="{% url 'user_login' %}">go to login page.</a>
		{% endif %}
{% endblock %}
