<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Rango - {% block title %}How to fuck rango{% endblock %}</title>
</head>
<body>
	<div>
		{% block body_block %}Default body block{% endblock %}
	</div>
	
	<hr/>
	
	<div>
		 <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
                <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}

                <li><a href="{% url 'about' %}">About</a></li>
              {% if user.is_authenticated %}
              		<strong> hello</strong>
              {% endif %}
              <strong> kabre</strong>
              <h1>nelson</h1>
         </ul>
	</div>
</body>
</html>
